{{#with conference}}
<div class="col-lg-8 col-md-7 order-md-1 order-1">
    <h2>{{title}}</h2>    
    <h4>{{conference}}</h4><br>
   
    <div class="blog__details__text">Location: {{{location}}}</div>
    <div class="blog__details__text"><a>Deadline: </a>{{{now_deadline}}}</div>
    
    {{#if date}}
    <div class="blog__details__text"><span>Date: {{{date}}}</span></div>
    {{else}}
    <div class="blog__details__text"><span>Date: {{{starting_date}}} - {{ending_date}}</span></div>
    {{/if}}

    <div class="blog__details__text"><a>Notification date: {{{notification}}}</a></div>
    <h6>Subformat: {{{subformat}}}</h6>
    <a href="{{website}}">website: {{website}}</a><br>

    {{!-- <div class="blog__details__content">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog__details__author">
                    <div class="blog__details__author__pic">
                        <img src="{{User.imagePath}}" alt="">
                    </div>
                    <div class="blog__details__author__text">
                        <h6>{{User.firstName}} {{User.lastName}}</h6>
                        <span>{{#if User.isAdmin}} Admin {{else}} Member {{/if}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog__details__widget">
                    <ul>
                        <li><span>Categories:</span> {{Category.name}}</li>
                        <li><span>Tags:</span> {{#each Tags}} {{name}}, {{/each}} </li>
                    </ul>
                    <div class="blog__details__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
</div>
{{/with}}